@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --bg-surface: #e6e6e6;
    --bg-footer-surface: #191e24;

    --clr-custom-primary: #ffffff;
    --clr-custom-secondary: #000000;
    --clr-custom-accent: #e42ec0;
    
    --clr-heading: #000;
    --clr-text: #1f282e;
    --clr-inverted: #ffffff;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  /* Step -2: 12.50px → 10.00px */
  --fs-100: clamp(0.63rem, calc(0.84rem + -0.27vw), 0.78rem);

  /* Step -1: 15.00px → 14.14px */
  --fs-200: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);

  /* Step 0: 18.00px → 20.00px */
  --fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);

  /* Step 1: 21.60px → 28.28px */
  --fs-400: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);

  /* Step 2: 25.92px → 39.99px */
  --fs-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);

  /* Step 3: 31.10px → 56.54px */
  --fs-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);

  /* Step 4: 37.32px → 79.95px */
  --fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);

  /* Step 5: 44.79px → 113.05px */
  --fs-800: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-onest);
}

body {
  background: var(--clr-surface);
  color: var(--clr-text);
  line-height: 1.6;
  font-size: var(--fs-300);
}

.wrapper {
  width: min(100% - 3rem, 100ch);
  margin-inline: auto;
}

@media screen and (width > 768px) {
  .wrapper {
    width: min(100% - 7rem, 100ch);
  }
}

@media screen and (width > 1024px) {
  .wrapper {
    width: min(100% - 7rem, 110ch);
  }
}

.flow > * + * {
  margin-top: 1em;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-heading);
  line-height: 1.1;
  text-wrap: balance;
}

h2,
h3,
h4 {
  font-family: var(--font-worksans);
}

h1 {
  font-family: var(--font-worksans);
  font-size: var(--fs-600);
}

h2 {
  font-size: var(--fs-500);
}

h3 {
  font-size: var(--fs-400);
}

img {
  max-width: 100%;
  display: block;
}

/* ::marker {
  color: var(--clr-primary);
} */

.modal-shadow {
  box-shadow: 5px 0 30px 0 rgba(0 0 0 / 1);
}

.dark-effect {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 20;
  opacity: 100;
  top: 0;
  right: 0;
  transition: 500ms all ease-in-out;
}