/* Menu modal */

.menu {
  display: none;
}

@media (min-width: 1024px) {
  .menu {
    display: flex;
  }
}

.menu-icon ~ input:checked ~ .menu {
  display: grid;
}

/* Cart modal */

.cart {
  display: none;
}

.cart-icon ~ input:checked ~ .cart {
  display: grid;
}