.hero-bg {
  background-color: #afafaf;
  background-image: url('/hero-bg-1200px.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 80svh;
  width: 100%;
  top: 0;
  left: 0;
}