.hero-bg {
  background-image: url('/multi-colored-shirts-hanging-modern-boutique-store-generated-by-ai.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80svh;
  width: 100svw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}