.hero-bg {
  background-color: #afafaf;
  background-image: url('/hero-bg-1200px.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 80svh;
  width: 100%;
  top: 0;
  left: 0;
}

.custom-underline {
  transform: skew(-15deg);
  cursor: pointer;
}

.custom-underline::after {
  content: '';
  background: #fff;
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 3px;
  left: 0;
  transition: 300ms all ease;
}

.custom-underline:hover::after {
  width: 102%;
}

.offers-custom-underline {
  transform: skew(-15deg);
  cursor: pointer;
  transition: 200ms ease all;
}

.offers-custom-underline::after {
  content: '';
  background: #000;
  width: 102%;
  height: 5px;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: 200ms all ease;
}

@media (width > 1024px) {
  .offers-custom-underline::after {
    height: 6px;
  }
}

.offers-custom-underline:hover::after {
  background: var(--clr-accent);
}