.hero-bg {
  background-color: #afafaf;
  background-image: url('/hero-bg-1200px.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  width: 100%;
  height: 100svh;
  position: absolute;
  top: -92px;
  left: 0;
  z-index: -1;
}

.hero-btn-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all 300ms ease;
  z-index: -1;
}

.hero-btn-effect:hover::before {
  width: 100%;
}

.hero-btn-effect:hover {
  color: black;
}

.custom-underline {
  transform: skew(-15deg);
  cursor: pointer;
}

.custom-underline::after {
  content: '';
  background: #fff;
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 3px;
  left: 0;
  transition: 300ms all ease;
}

.custom-underline:hover::after {
  width: 102%;
}
