.navbar-wrapper {
  width: min(100% - 3rem, 130ch);
  margin-inline: auto;
  position: relative;
  place-items: center;
}

.profile-dropdown {
  position: absolute;
  top: 4rem;
  right: 2rem;
  background: var(--clr-surface);
  padding: .75rem;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(0 0 0 / .5), 0 4px 8px 0 rgba(0 0 0 / .5);
  border-radius: var(--border-radius);

  display: none;
  place-items: start;
  gap: .5rem;
}

.profile-icon ~ input:checked ~ .profile-dropdown {
  display: grid;
}