.custom-grid {
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

@media (width > 750px) {
  .custom-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (width > 975px) {
  .custom-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

@media (width > 1280px) {
  .custom-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}