.custom-grid {
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

@media (width > 768px) {
  .custom-grid {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
}

@media (width > 1024px) {
  .custom-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
